body{
    float: left;
}

main{
    max-width: 640px;
    margin: 1rem auto;
    border: 2px solid rgb(169, 192, 209);
    padding: 20px;
    grid-template-columns: 1fr 1fr;
}

footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 2px solid rgb(25, 63, 92);
    padding: 20px;

}

section{
    padding: 1px;
    list-style-type: none;
    border: 2px solid rgb(25, 63, 92);
}



.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    z-index: 10;
    overflow: hidden;
    text-align: left;

}

.menu li a{
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 3px;
    position: relative;
    transition: background 0.5s ease-in-out;
}

.menu li a:hover{
    background-color: silver;
}

.menu li:first-child a{
    color: black;
}

.active{
    font-weight: 700;
}

li a.menu-item{
    display: none;
}

li a.open{
    display: flex;
}

.close::before{
    content: "";
}


.mode{
    font-size: 2rem;
    cursor: pointer;
    text-align: right;

}