:root {
  --back: rgb(240, 237, 237);
  --back2: rgb(48, 48, 48);
  --header: black;
  --headtext: white;
  --bodytext: yellow;
  --border: white;
}

table {
  margin: auto;
  border: none;
  border-spacing: 0px;
}

th {
  background-color: var(--header);
  padding: 10px;
  color: var(--headtext);
  text-align: center;
}

.head {
  margin: 0px auto;
  background-color: var(--back);
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--header);
  text-align: center;
  font-weight: 700;
  font-size: larger;
}

.body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px auto;
  background-color: var(--back);
  color: var(--header);
}

td {
  border-top: 1px solid white;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 0px;
}

.left {

  background-color: var(--back2);
  padding: 10px;
  color: var(--bodytext);
  text-align: right;
  font-weight: 500;
  font-size: medium;
}

.right {

  background-color: var(--back2);
  padding: 10px;
  color: var(--headtext);
  text-align: left;
  font-weight: 500;
  font-size: medium;
}

caption {
  padding: 10px;
  caption-side: bottom;
  color: var(--foredark);
  font-size: .85rem;
}

.span {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


nav {
  max-width: 640px;
  margin: 1rem auto;
  margin-left: auto;
  margin-right: auto;
  color: rgb(25, 63, 92);
  text-align: center;
  padding: 1px;
  background-color: rgb(195, 223, 245);
  border-radius: 25px;
  border: 2px solid rgb(25, 63, 92);
  padding: 20px;
  box-shadow: 10px 10px 5px rgb(146, 166, 180);
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
}

header {
  max-width: 640px;
  margin: 1rem auto;
  margin-left: auto;
  margin-right: auto;
  color: rgb(25, 63, 92);
  text-align: center;
  background-color: rgb(195, 223, 245);
  border-radius: 25px;
  border: 2px solid rgb(25, 63, 92);
  padding: 20px;
  box-shadow: 10px 10px 5px rgb(146, 166, 180);
}

a:link {
  color: black;
}

main {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 'temple'
      'learning'
      'project'
      'information';
  max-width: 640px;
  margin: 1rem auto;
  color: rgb(25, 63, 92);
  background-color: rgb(195, 223, 245);
  border-radius: 25px;
  border: 2px solid rgb(25, 63, 92);
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 10px 10px 5px rgb(146, 166, 180);
}

.temple {
  grid-area: temple;
}

.learning {
  grid-template-areas: 'learning';
}

.project {
  grid-area: project;
}

.information {
  grid-area: information;
}

footer {
  max-width: 640px;
  margin: 1rem auto;
  color: rgb(25, 63, 92);
  background-color: rgb(195, 223, 245);
  border-radius: 25px;
  border: 2px solid rgb(25, 63, 92);
  padding: 20px;
  box-shadow: 10px 10px 5px rgb(146, 166, 180);
}

section {
  background-color: white;
  color: rgb(25, 63, 92);
  padding: 2rem;
  border-radius: 25px;
  border: 2px solid rgb(25, 63, 92);
  padding: 1px;
  list-style-type: none;
}

#darkness1 {
  background-color: white;
}

#darkness2 {
  background-color: white;
}

ul {
  list-style-type: none;
}

li.nav a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li.nav a:hover {
  background-color: #555;
  color: white;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  z-index: 10;
  overflow: hidden;
  text-align: left;
}

.menu li a {
  display: block;
  text-decoration: none;
  text-align: left;
  padding: 1rem;
  position: relative;
  transition: background 0.5s ease-in-out;
}

.menu li a:hover {
  background-color: wheat;
}

.menu li:first-child a {
  background-color: rgb(195, 223, 245);
  color: black;
}

.active {
  font-weight: 700;
}

li a.menu-item {
  display: none;
}

li a.open {
  display: flex;
}

.close::before {
  content: "❌ ";
}

.mode {
  font-size: 2rem;
  cursor: pointer;
  text-align: right;
}

.weather {
  width: 50%;
  border: 1px solid #111;
  text-align: center;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}